<!DOCTYPE html>
<html xml:lang>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Club controller</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/slider.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
    <h1>Hello Clubbing World</h1>
    <div id="led-strip-clients"></div>
    <div id="gpio-clients"></div>
    <script src="/static/js/protocol.js"></script>
    <script src="/static/js/led-strip.js"></script>
    <script src="/static/js/main.js"></script>
</body>

<footer>
    <div>Made by <a href="https://www.thomasascioglu.com">Thomas Ascioglu</a> with &#10084;</div>
</footer>

</html>
