<!DOCTYPE html>
<html xml:lang>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Club controller</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/slider.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
    <h1>Hello Clubbing World</h1>
    <h3>Smoke</h3>
    <div id="smoke-button"></div>
    <h1>LED Strips</h1>
    {% for led_strip in led_strips %}
        <div id=led_strip.id>
            {% include "led-strip.html" %}
        </div>
    {% endfor %}

    <script src="/static/js/main.js"></script>
</body>

</html>
